<?xml version="1.0"?>


<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">
  <xacro:arg name="prefix" default="" />

  <!-- Import -->
  <xacro:include filename="$(find mypkg)/xacro/myrobot_description.urdf.xacro" />
  <xacro:include filename="$(find mypkg)/xacro/myrobot_ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world"/>
    <child link="base_link" />
  </joint>

  <!-- Use macros -->
  <xacro:myrobot_description parent="world"/>
  <xacro:myrobot_ros2_control name="my_hardware"/>

</robot>