<?xml version="1.0"?>
<robot name="unibot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includes -->
  <xacro:include filename="$(find ros2_control_tutorial)/model/xacro/links.xacro"/>
  <xacro:include filename="$(find ros2_control_tutorial)/model/xacro/union.xacro"/>

  
  <!-- Links -->
  <xacro:unit link="a1"/>
  <xacro:unit link="a2"/>
  <xacro:pin root_link="a1"/>

  <!-- Joints -->
  <xacro:union parent="a1" child="a2" y=" 1"/>

  <!-- Plugin -->  
  <xacro:include filename="$(find ros2_control_tutorial)/model/xacro/plugins.xacro"/>

</robot>